@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
div.modal{
  border: 1px solid rgba(38, 38, 38, 0.65);
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Roboto";
  z-index: 3;
  transition: height 300ms ease;


  .lineup{
    text-align: left;
    margin-left: 30px;
    font-size: 18px;


    .text{
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 12px;
      font-weight: 600;
      color: rgba(38, 38, 38, 0.65);
      margin-bottom: 20px;
    }
    .info{
      color: rgb(2, 108, 223);
      font-size: 14px;
      margin-bottom: 15px;
      font-weight: 400px;
      cursor: pointer;
      letter-spacing: 0.3px;
    }

    .bottom{
      border-bottom: 1px solid rgba(38, 38, 38, 0.65);
      width: 95%;
      margin-top: 20px;
    }

  }
  .ticket-button{
    margin-top: 20px;
    width: 95%;
    height: 34px;
    padding: 0 12px;
    background-color: rgb(2, 108, 223);
    color: white;
    letter-spacing: 0.3;
    outline: none;
    border: none;
    border-radius: 3px;
  }
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 2s;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0.3;
  transition: opacity 200ms;
}

.clicker{
  position: absolute;
  font-size: 30px;
  opacity: 0.7;
  top:0;
  right:30px;
}

.modal-container{
  position: absolute;
}

.indiv-page-container{
  position: relative;
}

.ticket-button{
  margin-top: 5px;
  margin-left: 16px;
  width: 20%;
  height: 34px;
  padding: 0 12px;
  background-color: rgb(2, 108, 223);
  color: white;
  letter-spacing: 0.3;
  outline: none;
  border: none;
  border-radius: 3px;
}
