ul.paginate-container{
  display: flex;
  align-items: center;

  .page-item{
    width: 30px;;
    border: 1px solid #026cdf;
    color: #026cdf;
    text-align: center;
    list-style: none;
    font-size: 20px;
    margin-left: 15px;
    margin-top:10px;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;

    .active{
      font-size: 30px;

    }
  }
}
@media only screen and (min-width: 768px){
  ul.paginate-container{

    .page-item{
      margin-left: 30px;
    }
  }
}
